# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives: Get to know about Data Science Tools**
- Python
- R
- GitHub
- Jupyterlab

Some of the popular languages that Data Scientists use are :

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include :

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyterlab |
| Spyder |
| RStudio |

### Below are few examples of evaluating arithmetic expressions in Python
x = 30
y = x + 12
z = y * 3

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Lakshmi Holla,
Niveditha Pandith